/* line 3, ../sass/common.scss */
* {
  margin: 0px;
  padding: 0px;
}

/* line 3, ../sass/common.scss */
a {
  text-decoration: none;
}

/* line 3, ../sass/common.scss */
a:hover {
  text-decoration: none;
}

/* line 3, ../sass/common.scss */
ul {
  list-style: none;
}

/* line 20, ../sass/footer.scss */
footer {
  width: 1402px;
  height: 82px;
  background: #1e1e1e;
  position: relative;
  bottom: 0px;
  left: 50%;
  margin-left: -701px;
}
/* line 28, ../sass/footer.scss */
footer p {
  color: #ffffff;
  font-size: 12px;
  font-family: "Microsoft Yahei", "Simsun", Arial, monospace, monospace;
  line-height: 14px;
  text-align: center;
}
/* line 36, ../sass/footer.scss */
footer p.footer-icp {
  padding-top: 23px;
}
/* line 39, ../sass/footer.scss */
footer p.footer-copyright {
  padding-top: 14px;
}
