@charset "utf-8";
/**
 *
 *version------0.0.1
 *author-------crazyz
 *date---------2015-6-24
 */
@import "normalize","common","mixin","variable";

.ui-carousel{
	width:100%;
	min-width:1202px;
	height:438px;
	margin:auto auto;
	&:hover{
		.ui-carousel-button{display:block;}
	}
	@at-root{
		.ui-carousel-content{
			width:100%;
			img{
				width:1903px;
				height:438px;
				left: 50%;
				margin-left: -951.5px;
				position:absolute;
				display: none;
			}
		}
		.ui-carousel-group{
			width: 1202px;
			height: 438px;
			margin:auto auto;
			position: relative;
			@at-root{
				.ui-carousel-dot{
					left: 50%;
					width: 60%;
					margin-left: -30%;
					bottom: 15px;
					position:absolute;
					ul{
						width: (15+12)*3px;
						margin:auto auto;
						@include clearfix();
						li{
							float:left;
							margin-left: 12px;
							a{
								width: 15px;
								height: 15px;
								background: url('../images/index/carousel/dot.png') no-repeat;
								background-position:0px 0px;
								display: block;
								&:hover,&.active{
									background: url('../images/index/carousel/dot-hover.png') no-repeat;
								}
							}
						}
					}
				}
				.ui-carousel-button{
					display: none;
					.ui-carousel-prev{
						width: 62px;
						height: 62px;
						background:url('../images/index/carousel/prev.png') no-repeat;
						background-size: 62px 62px;
						display: block;

						top: 50%;
						left: 208px;
						margin-top: -26px;
						position:absolute;
						&:hover{
							background:url('../images/index/carousel/prev-hover.png') no-repeat;
							background-size: 62px 62px;
						}
						z-index: 1;
					}
					.ui-carousel-next{
						width: 62px;
						height: 62px;
						background:url('../images/index/carousel/next.png') no-repeat;
						background-size: 62px 62px;
						display: block;
						
						top: 50%;
						right: 208px;
						margin-top: -26px;
						position:absolute;
						&:hover{
							background:url('../images/index/carousel/next-hover.png') no-repeat;
							background-size: 62px 62px;
						}
						z-index: 1;
					}
				}
				.modern{
					top: 289px;
					left: 218px;
					width: 575px;
					height: 108px;
					background:url('../images/index/hp_slogan.png') no-repeat;
					position:absolute;
					z-index:2;
				}
			}
		}
	}
}