@charset "utf-8";
/**
 *
 *version------0.0.1
 *author-------crazyz
 *date---------2015-6-24
 */
@import "normalize","common","mixin","variable";

html,body{
	width:100%;
	height:100%;
	@include box-sizing(border-box);
}
footer{
	width:100%;
	min-width:1202px;
	height:82px;
	background:#1e1e1e;
	margin:auto auto;
	p{
		color:#ffffff;
		font:12px $font-family;
		line-height: 14px;
		text-align: center;
		&.footer-icp{
			padding-top: 23px;
		}
		&.footer-copyright{
			padding-top: 14px;
		}
	}

}