@charset "utf-8";
/**
 *
 *version------0.0.1
 *author-------crazyz
 *date---------2015-6-24
 */
@import "normalize","common","mixin","variable";

header{
	width:100%;
	min-width:1202px;
	margin-bottom:-41px;
	position:relative;
	@at-root{
		.fire-topbar{
			width:100%;
			height: 41px;
			background:#e54120;
		}
		.fire-navbar-background{
			width:100%;
			height: 60px;
			position: absolute;
			z-index: 1;
			@include rgba(0.8);
		}
		.header-container{
			width: 1202px;
			height: 0px;
			margin:auto auto;
			position:relative;
			.fire-navbar{
				width:100%;
				height: 60px;
				position: absolute;
				z-index: 2;
				@include clearfix();
				.logo{
					float: left;
					width: 156px;
					height: 36px;
					margin-top: 11px;
					margin-bottom: 13px;
					margin-left: 219px;
					background:url('../images/index/logo.png') no-repeat;
				}
				ul{
					float: left;
					margin-left: 261+47px;
					li{
						float: left;
						margin-left: -47px;
						a{
							width: 165px;
							height: 60px;
							color:#b3b3b3;
							font:14px $font-family;
							line-height: 60px;
							text-align: center;
							&:hover{
								color: #e54120;
							}
							&.active{
								color: #ffffff;
								background:url('../images/index/hp_nav_btn.png') no-repeat;
								background-size:157px 60px;
							}
							display: block;
						}
					}
				}
			}
		}
	}
}