@charset "utf-8";

.icon-address{
	background:url('../images/contact/lianxiwomen_ico_addresss.png') no-repeat;
	background-size:15px 22px;
}
.icon-tel{
	background:url('../images/contact/lianxiwomen_ico_tel.png') no-repeat;
	background-size:15px 22px;
}
.icon-email{
	background:url('../images/contact/lianxiwomen_ico_email.png') no-repeat;
	background-size:15px 22px;
}