@charset "utf-8";

@import "common","mixin","variable";


html,body{
	width:100%;
	min-height:100%;
	@include box-sizing(border-box);
}
footer{
	width:1402px;
	height:82px;
	background:#1e1e1e;
	position:relative;
	bottom:0px;
	p{
		color:#ffffff;
		font:12px $font-family;
		line-height: 14px;
		text-align: center;
		&.footer-icp{
			padding-top: 23px;
		}
		&.footer-copyright{
			padding-top: 14px;
		}
	}

}