@charset "utf-8";

@import "common","mixin","variable";
@import "normalize";

header{
	width:1402px;
	margin:auto auto;
	margin-bottom:-41px;
	@at-root{
		.fire-topbar{
			width: 1402px;
			height: 41px;
			background:#e54120;
		}
		.fire-navbar-background{
			width: 1402px;
			height: 60px;
			position: absolute;
			z-index: 1;
			@include rgba(0.5);
		}
		.fire-navbar{
			width: 1402px;
			height: 60px;
			position: absolute;
			z-index: 2;
			@include clearfix();
			.logo{
				float: left;
				width: 156px;
				height: 36px;
				margin-top: 11px;
				margin-bottom: 13px;
				margin-left: 219px;
				background:url('../images/index/logo.png') no-repeat;
			}
			ul{
				float: right;
				margin-left: 261+47px;
				li{
					float: left;
					margin-left: -47px;
					a{
						width: 165px;
						height: 60px;
						color:#b3b3b3;
						font:14px $font-family;
						line-height: 60px;
						text-align: center;
						&:hover{
							color: #e54120;
						}
						&.active{
							color: #ffffff;
							background:url('../images/index/hp_nav_btn.png') no-repeat;
							background-size:157px 60px;
						}
						display: block;
					}
				}
			}
		}
	}
}